mixin sBlog(data)
	// start sBlog
	+b.SECTION.sBlog.section#sBlog&attributes(attributes)
		.container
			.row
				.col-lg-8.col-xl-9
					+blogItem(1, `Навес для дома.&nbsp;7&nbsp;способов, как украсить участок и&nbsp;сделать жизнь комфортнее`)
				.col-lg-4.col-xl-3
					+b.categories
						+categoryItem(`Советы <br> и&nbsp;лайфхаки`, 1).active
						+categoryItem(`Технические <br> детали`, 2)
						+categoryItem(`Безопасность <br> и&nbsp;гарантии`, 3)
						+categoryItem(`Внешний <br> вид`, 4)
						+categoryItem(`Как <br> выбрать`, 5)
						+categoryItem(`Примеры <br> Наших работ`, 6)
				.col-md-6
					+blogItem(2, `Навес для дома.&nbsp;7&nbsp;способов, как украсить участок и&nbsp;сделать жизнь комфортнее`)
				.col-md-6
					+blogItem(3, `Навес для дома.&nbsp;7&nbsp;способов, как украсить участок и&nbsp;сделать жизнь комфортнее`)
				.col-md-4.col-xl-3
					p Большой выбор навесов к дому
				.col-md-8.col-xl-9
					+blogItem(4, `8&nbsp;форм кровли для навесов`)
				.col-md-6
					+blogItem(5, `Навес для дома.&nbsp;7&nbsp;способов, как украсить участок и&nbsp;сделать жизнь комфортнее`)
				.col-md-6
					+blogItem(6, `Навес для дома.&nbsp;7&nbsp;способов, как украсить участок и&nbsp;сделать жизнь комфортнее`)
				.col-12
					p Получите цену навеса и посмотрите, как он будет выглядеть
				.col-md-6.col-lg-8.col-xl-9
					+blogItem(7, `8&nbsp;форм кровли для навесов`)
				.col-md-6.col-lg-4.col-xl-3
					+blogItem(6, `5&nbsp;причин, почему навес необходим практически каждому`)
				.col-md-6
					+blogItem(8, `Навес для дома.&nbsp;7&nbsp;способов, как украсить участок и&nbsp;сделать жизнь комфортнее`)
				.col-md-6
					+blogItem(3, `Навес для дома.&nbsp;7&nbsp;способов, как украсить участок и&nbsp;сделать жизнь комфортнее`)
				.col-md-4.col-xl-3
					p Смотрите и пишите
				.col-md-8.col-xl-9
					+blogItem(1, `8&nbsp;форм кровли для навесов`)
				.col-md-6.col-lg-4.col-xl-6
					+blogItem(3, `Навес для дома.&nbsp;7&nbsp;способов, как украсить участок и&nbsp;сделать жизнь комфортнее`)
				.col-md-6.col-lg-4.col-xl-3
					+blogItem(7, `5&nbsp;причин, почему навес необходим практически каждому`)
				.col-lg-4.col-xl-3
					+blogItem(4, `5&nbsp;причин, почему навес необходим практически каждому`)
				.col-12
					p Типовые арочные навесыиз поликарбонатаот 72 000 ₽
				.col-md-6.col-lg-8.col-xl-9
					+blogItem(8, `8&nbsp;форм кровли для навесов`)
				.col-md-6.col-lg-4.col-xl-3
					+blogItem(6, `5&nbsp;причин, почему навес необходим практически каждому`)
				.col-md-6
					+blogItem(7, `Навес для дома.&nbsp;7&nbsp;способов, как украсить участок и&nbsp;сделать жизнь комфортнее`)
				.col-md-6
					+blogItem(3, `Навес для дома.&nbsp;7&nbsp;способов, как украсить участок и&nbsp;сделать жизнь комфортнее`)
				.col-md-4.col-xl-3
					p Бесплатно: замер, расчет сметы и 3D-макет
				.col-md-8.col-xl-9
					+blogItem(4, `Н8&nbsp;форм кровли для навесов`)
	// end sBlog