mixin sReviews(data)
	// start sReviews
	+b.SECTION.sReviews.section#sReviews&attributes(attributes)
		.container
			+b.section-title.text-center
				h4 Отзывы
				h2 Что говорят о&nbsp;наших навесах клиенты
				
			.row
	// end sReviews