
mixin modal() 
	//  start modals
	//- a(href="modal-call").link-modal-js modal-call 
	div(id="modal-call"  style="display: none" )
		+b.modal-win
			+pic('modal-1.png', '', 0)
			+form-wrap
				.text-center
					h4 Вызвать замерщика
					p.after-headline Оставьте свой номер телефона, мы&nbsp;вам перезвоним и&nbsp;договоримся о&nbsp;замере
				+input("Ваше Имя")(required)
				+input("+7 ___ ___ __ __", 'tel')(required)
				+e.BUTTON.btn.btn(type="submit") Отправить
				+e.agreement Отправляя заявку, вы&nbsp;даете свое согласие на&nbsp;обработку #[a(href="#") персональных данных] 
			+e.img-wrap.bg-wrap
				+pic('modal-bg.jpg', 'bg', 0).picture-bg
				
	// #modal-call
	
	// end modals