
mixin modal() 
	//  start modals
	//- a(href="modal-call").link-modal-js modal-call 
	div(id="modal-call-measurer"  style="display: none" )
		+b.modal-win
			+pic('modal-1.png', '', 0)
			+form-wrap
				.text-center
					h4 Вызвать замерщика
					p Оставьте свой номер телефона, мы&nbsp;вам перезвоним и&nbsp;договоримся о&nbsp;замере
				+input("Ваше Имя")(required)
				+input("+7 ___ ___ __ __", 'tel')(required)
				+e.BUTTON.btn.btn(type="submit") Отправить
				+e.agreement Отправляя заявку, вы&nbsp;даете свое согласие на&nbsp;обработку #[a(href="#") персональных данных] 
			+e.img-wrap.bg-wrap
				+pic('modal-bg.jpg', 'bg', 0).picture-bg
				
	// #modal-call-measurer

	div(id="modal-call-calculation"  style="display: none" )
		+b.modal-win
			+pic('modal-2.png', '', 0)
			+form-wrap
				.text-center
					h4 Получить расчет
					p Оставьте свой номер телефона, мы&nbsp;вам перезвоним и&nbsp;выполним расчет.
				+input("Ваше Имя")(required)
				+input("+7 ___ ___ __ __", 'tel')(required)
				+e.BUTTON.btn.btn(type="submit") Получить расчет
				+e.agreement Отправляя заявку, вы&nbsp;даете свое согласие на&nbsp;обработку #[a(href="#") персональных данных] 
			+e.img-wrap.bg-wrap
				+pic('modal-bg.jpg', 'bg', 0).picture-bg
				
	// #modal-call-calculation

	div(id="modal-call-back"  style="display: none" )
		+b.modal-win
			+pic('modal-2.png', '', 0)
			+form-wrap
				.text-center
					h4 Обратный звонок
					p Оставьте свой номер телефона и&nbsp;мы&nbsp;вам перезвоним в&nbsp;течение 15&nbsp;минут.
				+input("Ваше Имя")(required)
				+input("+7 ___ ___ __ __", 'tel')(required)
				+e.BUTTON.btn.btn(type="submit") Запросить обратный звонок
				+e.agreement Отправляя заявку, вы&nbsp;даете свое согласие на&nbsp;обработку #[a(href="#") персональных данных] 
			+e.img-wrap.bg-wrap
				+pic('modal-bg.jpg', 'bg', 0).picture-bg
				
	// #modal-call-back

	div(id="modal-call-want"  style="display: none" )
		+b.modal-win
			+pic('modal-2.png', '', 0)
			+form-wrap
				.text-center
					h4 Хочу навес Н1830
					p Оставьте свой номер телефона, мы&nbsp;вам перезвоним и&nbsp;сообщим детальную информацию по&nbsp;навесу, направим к&nbsp;вам замерщика или поможем оформить заказ онлайн
				+input("Ваше Имя")(required)
				+input("+7 ___ ___ __ __", 'tel')(required)
				+e.BUTTON.btn.btn(type="submit") Запросить обратный звонок
				+e.agreement Отправляя заявку, вы&nbsp;даете свое согласие на&nbsp;обработку #[a(href="#") персональных данных] 
			+e.img-wrap.bg-wrap
				+pic('modal-bg.jpg', 'bg', 0).picture-bg
				
	// #modal-call-want

	div(id="modal-call-similar"  style="display: none" )
		+b.modal-win
			+pic('modal-2.png', '', 0)
			+form-wrap
				.text-center
					h4 Запросить расчет похожего навеса
					p Оставьте свой номер телефона, мы&nbsp;вам перезвоним и&nbsp;выполним расчет
				+input("Ваше Имя")(required)
				+input("+7 ___ ___ __ __", 'tel')(required)
				+e.BUTTON.btn.btn(type="submit") Запросить расчет
				+e.agreement Отправляя заявку, вы&nbsp;даете свое согласие на&nbsp;обработку #[a(href="#") персональных данных] 
			+e.img-wrap.bg-wrap
				+pic('modal-bg.jpg', 'bg', 0).picture-bg
				
	// #modal-call-similar

	div(id="modal-call-detailed"  style="display: none" )
		+b.modal-win
			+pic('modal-1.png', '', 0)
			+form-wrap
				.text-center
					h4 Запросить детальный расчет
					p Оставьте свой номер телефона, мы&nbsp;вам перезвоним и&nbsp;выполним расчет.
				+input("Ваше Имя")(required)
				+input("+7 ___ ___ __ __", 'tel')(required)
				+e.BUTTON.btn.btn(type="submit") Запросить расчет
				+e.agreement Отправляя заявку, вы&nbsp;даете свое согласие на&nbsp;обработку #[a(href="#") персональных данных] 
			+e.img-wrap.bg-wrap
				+pic('modal-bg.jpg', 'bg', 0).picture-bg
				
	// #modal-call-detailed

	div(id="modal-call-excursion"  style="display: none" )
		+b.modal-win
			+pic('modal-1.png', '', 0)
			+form-wrap
				.text-center
					h4 Записаться на&nbsp;экскурсию по&nbsp;производству
					p Оставьте свой номер телефона, мы&nbsp;перезвоним в&nbsp;течение 15&nbsp;минут и&nbsp;запишем вас
				+input("Ваше Имя")(required)
				+input("+7 ___ ___ __ __", 'tel')(required)
				+e.BUTTON.btn.btn(type="submit") Запсиаться на&nbsp;экскурсию
				+e.agreement Отправляя заявку, вы&nbsp;даете свое согласие на&nbsp;обработку #[a(href="#") персональных данных] 
			+e.img-wrap.bg-wrap
				+pic('modal-bg.jpg', 'bg', 0).picture-bg
				
	// #modal-call-excursion

	div(id="modal-call-reviews"  style="display: none" )
		+b.modal-win--reviews
			.sClientsReviews__wrap
				.row
					.col-md
						.sClientsReviews__profile
							.sClientsReviews__profile-content
								.sClientsReviews__avatar
								.sClientsReviews__info
									span Клиент
									span Игорь
									p МО, г. Дмитров, СНТ &laquo;Квазаровка&raquo;
					.col-md
						audio.js-player(controls='')
							source(src="audio/sample.mp3" type="audio/mp3")
				+content('&laquo;Убрали за&nbsp;собой мусор, соблюдали чистоту&raquo;', 'Вы&nbsp;купили себе дом! Время обустраивать участок. Есть куча идей для построек: из&nbsp;бревен, кирпичей, металла, дерева и&nbsp;других материалов, и&nbsp;все эти идеи можно воплотить с&nbsp;помощью навеса. В&nbsp;этой статье мы&nbsp;расскажем о&nbsp;7&nbsp;способах, как украсить участок, и&nbsp;сделать жизнь комфортнее под навесом.Вы купили себе дом! Время обустраивать участок. Есть куча идей для построек: из&nbsp;бревен, кирпичей, металла, дерева и&nbsp;других материалов, и&nbsp;все эти идеи можно воплотить с&nbsp;помощью навеса. В&nbsp;этой статье мы&nbsp;расскажем о&nbsp;7&nbsp;способах, как украсить участок, и&nbsp;сделать жизнь комфортнее под навесом.Вы купили себе дом! Время обустраивать участок. Есть куча идей для построек: из&nbsp;бревен, кирпичей, металла, дерева и&nbsp;других материалов, и&nbsp;все эти идеи можно воплотить с&nbsp;помощью навеса. В&nbsp;этой статье мы&nbsp;расскажем о&nbsp;7&nbsp;способах, как украсить участок, и&nbsp;сделать жизнь комфортнее под навесом.', 'Вы&nbsp;купили себе дом! Время обустраивать участок. Есть куча идей для построек: из&nbsp;бревен, кирпичей, металла, дерева и&nbsp;других материалов, и&nbsp;все эти идеи можно воплотить с&nbsp;помощью навеса. В&nbsp;этой статье мы&nbsp;расскажем о&nbsp;7&nbsp;способах, как украсить участок, и&nbsp;сделать жизнь комфортнее под навесом.Вы купили себе дом! Время обустраивать участок. Есть куча идей для построек: из&nbsp;бревен, кирпичей, металла, дерева и&nbsp;других материалов, и&nbsp;все эти идеи можно воплотить с&nbsp;помощью навеса. В&nbsp;этой статье мы&nbsp;расскажем о&nbsp;7&nbsp;способах, как украсить участок, и&nbsp;сделать жизнь комфортнее под навесом.Вы купили себе дом! Время обустраивать участок. Есть куча идей для построек: из&nbsp;бревен, кирпичей, металла, дерева и&nbsp;других материалов, и&nbsp;все эти идеи можно воплотить с&nbsp;помощью навеса. В&nbsp;этой статье мы&nbsp;расскажем о&nbsp;7&nbsp;способах, как украсить участок, и&nbsp;сделать жизнь комфортнее под навесом.')
				
	// #modal-call-reviews
	
	// end modals