mixin sContact()
	// start sContact
	+b.SECTION.sContact.section#sContact&attributes(attributes)
		.container
			+b.section-title.text-center
				h4 Контакты
				h2 Позвоните или посетите наш офис на&nbsp;производстве
				
			.row
	// end sContact