$output-bourbon-deprecation-warnings: false;
  // @use "sass:list";
  // @use "sass:map";
  @use "sass:math";
  // @use "sass:meta";

// @import "mq";
@import "bourbon/app/assets/stylesheets/bourbon";
// @import "../../node_modules/rfs/scss";
// @import "./node_modules/@fancyapps/ui/src/Fancybox/Fancybox.scss";
// @import "./node_modules/swiper/swiper.scss";

@import "mixin";
@import "fonts";
@import "_sprite";
// @import "bootstrap-theme/bootstrap";

// Option B: Include parts of Bootstrap


// v5

// Layout & components

@import "bootstrap/scss/functions";
@import "vars"; 
@import "bootstrap/scss/variables";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";

// Layout & components
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
// @import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
// @import "bootstrap/scss/tables";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
// @import "bootstrap/scss/transitions";
@import "bootstrap/scss/dropdown";
// @import "bootstrap/scss/button-group";
// @import "bootstrap/scss/nav";
// @import "bootstrap/scss/navbar";
// @import "bootstrap/scss/card";
// @import "bootstrap/scss/accordion";
// @import "bootstrap/scss/breadcrumb";
// @import "bootstrap/scss/pagination";
// @import "bootstrap/scss/badge";
// @import "bootstrap/scss/alert";
// @import "bootstrap/scss/progress";
// @import "bootstrap/scss/list-group";
// @import "bootstrap/scss/close";
// @import "bootstrap/scss/toasts";
// @import "bootstrap/scss/modal";
// @import "bootstrap/scss/tooltip";
// @import "bootstrap/scss/popover";
// @import "bootstrap/scss/carousel";
// @import "bootstrap/scss/spinners";
// @import "bootstrap/scss/offcanvas";
// @import "bootstrap/scss/offcanvas";
// @import "bootstrap/scss/placeholders";
// Helpers
@import "bootstrap/scss/helpers";

// Utilities
@import "bootstrap/scss/utilities/api";
// scss-docs-end import-stack


.breadcrumb {
	.active {
		a {
			// color: $breadcrumb-active-color;
			pointer-events: none;
		}
	}
}
@import "bootstrap/scss/pagination";

.pagination-wrapper ul {
	@extend .pagination;
	@include roww(8px, m);
	@include media-breakpoint-up(sm) {
		--bs-gutter-x: 16px;
	}
	justify-content: center;
	margin-bottom: 0;
}

.pagination-wrapper li .page-numbers {
	@extend .page-link;
	padding: 0;
	width: rem(32);
	height: rem(32);
	border-radius: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: rem(12);
	&.next,
	&.prev {
		background-color: $secondary;
		.icon {
			color: $primary;
			font-size: rem(10);
		}
	}
}

.pagination-wrapper li {
	@extend .page-item;

	.current {
		z-index: 1;
		background-color: $primary;
		border-color: $primary;
		// color: $pagination-active-color;
		// background-color: $pagination-active-bg;
		// border-color: $pagination-active-border-color;
	}
}
@import "root";
@import "base";
@import '../pug/blocks/**/*.scss';
@import "media"; // Всегда в конце

