mixin sPromo(data)
	// start sPromo
	+b.SECTION.sPromo.section#sPromo&attributes(attributes)
		.container-max.container: +e.inner-wrap
			+e.img-wrap.sPromo__item
				+img("img/sPromo-bg.png",'bg')
				+e.logo-wrap.text-center
					+b.logo(href="/")
						+icon('logo-top')
			+e.item
				+e.title.text-center
					h3 Изготовление и установка навесов под ключ в Москве и МО
					p В соответствии с нормативными нагрузками и&nbsp;запасом прочности +40%
				+e.feature-list.text-center
					+e.feature-item.accent Более 2370 навесов построили с&nbsp;2019&nbsp;г
					+e.feature-item Официально и честно
			+e.item.sPromo__btns
				+e.btn.btn.btn-success.w-100.fw-600(href="#")
					+icon('whatsapp')
					span Написать в Whatsapp
				+e.btn.btn.btn-dark.w-100.fw-600(href="tel:+74952557262")
					<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<rect width="24" height="24" rx="12" fill="#FFC23B" />
						<path d="M17.2834 14.6197L15.7204 13.0567C15.1622 12.4985 14.2132 12.7218 13.9899 13.4474C13.8225 13.9498 13.2643 14.2289 12.7619 14.1173C11.6455 13.8382 10.1383 12.3868 9.85918 11.2146C9.69171 10.7122 10.0266 10.154 10.529 9.98652C11.2547 9.76323 11.478 8.81427 10.9198 8.25606L9.35679 6.69307C8.91022 6.30232 8.24036 6.30232 7.84962 6.69307L6.78902 7.75367C5.72841 8.87009 6.90066 11.8286 9.52425 14.4522C12.1478 17.0758 15.1064 18.3039 16.2228 17.1874L17.2834 16.1268C17.6742 15.6803 17.6742 15.0104 17.2834 14.6197Z" fill="#35455C" />
					</svg>
					span +7 495 255 72 62
			+e.item.sPromo__links
				+e.link: .row
					.col
						+e.link-title
							+icon('mail')
							span Email
					.col-auto
						a(href="mailto:info@naves-na-zakaz.ru") info@naves-na-zakaz.ru
				+e.link: .row
					.col
						+e.link-title
							<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
								<g clip-path="url(#clip0_1308_43)">
									<path d="M12 0C8.81812 0 5.76375 1.26506 3.51562 3.51469C1.26562 5.76431 0 8.81869 0 12C0 15.1813 1.26562 18.2357 3.51562 20.4853C5.76375 22.7349 8.81812 24 12 24C15.1819 24 18.2362 22.7349 20.4844 20.4853C22.7344 18.2357 24 15.1813 24 12C24 8.81869 22.7344 5.76431 20.4844 3.51469C18.2362 1.26506 15.1819 0 12 0Z" fill="url(#paint0_linear_1308_43)" />
									<path d="M5.43189 11.8732C8.93064 10.3492 11.2631 9.34439 12.4294 8.85896C15.7631 7.47277 16.455 7.23202 16.9068 7.22396C17.0062 7.22227 17.2275 7.24683 17.3718 7.36364C17.4918 7.46208 17.5256 7.59521 17.5425 7.68858C17.5575 7.78196 17.5781 7.99477 17.5613 8.16089C17.3813 10.0584 16.5994 14.663 16.2019 16.7883C16.035 17.6876 15.7031 17.9891 15.3825 18.0186C14.685 18.0827 14.1562 17.5581 13.4812 17.1157C12.4256 16.4233 11.8294 15.9924 10.8037 15.3168C9.61875 14.5361 10.3875 14.1069 11.0625 13.4056C11.2387 13.2221 14.31 10.4293 14.3681 10.176C14.3756 10.1443 14.3831 10.0261 14.3119 9.96389C14.2425 9.90146 14.1393 9.92283 14.0643 9.93971C13.9574 9.96371 12.2718 11.079 9.00181 13.2853C8.52368 13.6141 8.09057 13.7745 7.70057 13.766C7.27307 13.7568 6.44812 13.5238 5.835 13.3246C5.085 13.0803 4.48684 12.9511 4.53934 12.5362C4.56559 12.3202 4.86377 12.0991 5.43189 11.8732Z" fill="white" />
								</g>
								<defs>
									<linearGradient id="paint0_linear_1308_43" x1="12" y1="0" x2="12" y2="24" gradientUnits="userSpaceOnUse">
										<stop stop-color="#2AABEE" />
										<stop offset="1" stop-color="#229ED9" />
									</linearGradient>
									<clipPath id="clip0_1308_43">
										<rect width="24" height="24" fill="white" />
									</clipPath>
								</defs>
							</svg>
							span Telegram-канал
					.col-auto
						a.tg(href="#") t.me/naves_na_zakaz
			+e.item
				+e.gallery
					+e.gallery-row.row 
						.col-6.col-md-3
							+e.img-card-wrap
								+img("img/img-c-1.png")
						.col-6.col-md-3
							+e.img-card-wrap
								+img("img/img-c-2.png")
						.col-6.col-md-3
							+e.img-card-wrap
								+img("img/img-c-3.png")
						.col-6.col-md-3
							+e.img-card-wrap
								+img("img/img-c-4.png")
				+e.portf-links
					+e.port-link.btn.btn-port(href="#") Смотреть портфолио
						span 428
					+e.port-link.btn.btn-outline-secondary(href="#") Смотреть отзывы
						span 334
	// end sPromo