mixin sCertificates(data)
	// start sCertificates
	+b.SECTION.sCertificates.section#sCertificates&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 sCertificates
				
			.row
	// end sCertificates