mixin sPortfolio(data)
	// start sPortfolio
	+b.SECTION.sPortfolio.section#sPortfolio&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 sPortfolio
				
			.row
	// end sPortfolio