mixin sPortfolio(data)
	// start sPortfolio
	+b.SECTION.sPortfolio.section#sPortfolio&attributes(attributes)
		.container
			+b.section-title.text-center
				h4 Портфолио
				h2 Мы&nbsp;изготовили и&nbsp;установили более 1500 навесов с&nbsp;2012 года
			.row
				.col-12
					+sSpecifications()
				.col-12
					+sSpecifications2()
				.col-12
					+sSpecifications3()
				.col
					+e.btn-wrap
						button.btn.btn-primary Показать еще
						button.btn.btn-outline-secondary Смотреть всё портфолио
	// end sPortfolio