mixin sProducts(data)
	// start sProducts
	+b.sProducts&attributes(attributes)
		+e.head-row.row
			.col
				+e.filter
					p Сортировать по:
					+select('', 'Цена по возрастанию', 'Цена по убыванию') 
				+e.sidebar-filter.d-lg-none
					+icon('menu-2')
					| Фильтр
					span 0
			.col-auto.d-none.d-lg-block
				+e.show
					p Выводить по:
					+select('', '25', '30', '45') 
		+e.body-row.row
			.col-md-6
				+b.card
					a(href="#") 
						+pic('sProducts-1.jpg', 'bg', 0)
						h4 Навес 4&times;8&nbsp;м из&nbsp;сотового поликарбоната
					p Гарабиты: 6&times;6&nbsp;м &bull; Высота по&nbsp;столбам: 2,4&nbsp;м
					h5 Характеристики
					table
						tbody
							tr
								td Тип
								td навесы для дачи
							tr
								td Тип навеса
								td полуарочный
							tr
								td Кровля
								td сотовый поликарбонат
							tr
								td Каркас
								td еталический
					+e.more
						p 150 400 ₽
						a.btn.btn-primary.btn-sm(href="#") Подробнее 
			.col-md-6
				+b.card
					a(href="#") 
						+pic('sProducts-1.jpg', 'bg', 0)
						h4 Навес 4&times;8&nbsp;м из&nbsp;сотового поликарбоната
					p Гарабиты: 6&times;6&nbsp;м &bull; Высота по&nbsp;столбам: 2,4&nbsp;м
					h5 Характеристики
					table
						tbody
							tr
								td Тип
								td навесы для дачи
							tr
								td Тип навеса
								td полуарочный
							tr
								td Кровля
								td сотовый поликарбонат
							tr
								td Каркас
								td еталический
					+e.more
						p 150 400 ₽
						a.btn.btn-primary.btn-sm(href="#") Подробнее 
			.col-md-6
				+b.card
					a(href="#") 
						+pic('sProducts-1.jpg', 'bg', 0)
						h4 Навес 4&times;8&nbsp;м из&nbsp;сотового поликарбоната
					p Гарабиты: 6&times;6&nbsp;м &bull; Высота по&nbsp;столбам: 2,4&nbsp;м
					h5 Характеристики
					table
						tbody
							tr
								td Тип
								td навесы для дачи
							tr
								td Тип навеса
								td полуарочный
							tr
								td Кровля
								td сотовый поликарбонат
							tr
								td Каркас
								td еталический
					+e.more
						p 150 400 ₽
						a.btn.btn-primary.btn-sm(href="#") Подробнее 
			.col-md-6
				+b.card
					a(href="#") 
						+pic('sProducts-1.jpg', 'bg', 0)
						h4 Навес 4&times;8&nbsp;м из&nbsp;сотового поликарбоната
					p Гарабиты: 6&times;6&nbsp;м &bull; Высота по&nbsp;столбам: 2,4&nbsp;м
					h5 Характеристики
					table
						tbody
							tr
								td Тип
								td навесы для дачи
							tr
								td Тип навеса
								td полуарочный
							tr
								td Кровля
								td сотовый поликарбонат
							tr
								td Каркас
								td еталический
					+e.more
						p 150 400 ₽
						a.btn.btn-primary.btn-sm(href="#") Подробнее 
			.col-md-6
				+b.card
					a(href="#") 
						+pic('sProducts-1.jpg', 'bg', 0)
						h4 Навес 4&times;8&nbsp;м из&nbsp;сотового поликарбоната
					p Гарабиты: 6&times;6&nbsp;м &bull; Высота по&nbsp;столбам: 2,4&nbsp;м
					h5 Характеристики
					table
						tbody
							tr
								td Тип
								td навесы для дачи
							tr
								td Тип навеса
								td полуарочный
							tr
								td Кровля
								td сотовый поликарбонат
							tr
								td Каркас
								td еталический
					+e.more
						p 150 400 ₽
						a.btn.btn-primary.btn-sm(href="#") Подробнее 
			.col-md-6
				+b.card
					a(href="#") 
						+pic('sProducts-1.jpg', 'bg', 0)
						h4 Навес 4&times;8&nbsp;м из&nbsp;сотового поликарбоната
					p Гарабиты: 6&times;6&nbsp;м &bull; Высота по&nbsp;столбам: 2,4&nbsp;м
					h5 Характеристики
					table
						tbody
							tr
								td Тип
								td навесы для дачи
							tr
								td Тип навеса
								td полуарочный
							tr
								td Кровля
								td сотовый поликарбонат
							tr
								td Каркас
								td еталический
					+e.more
						p 150 400 ₽
						a.btn.btn-primary.btn-sm(href="#") Подробнее 
		+e.show.d-lg-none
			p Выводить по:
			+select('', '25', '30', '45') 
		+pugin2()
	// end sProducts