mixin sPriceList(data)
	// start sPriceList
	+b.SECTION.sPriceList.section#sPriceList&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 sPriceList
				
			.row
	// end sPriceList