mixin sAbout(data)
	// start sAbout
	+b.SECTION.sAbout.section#sAbout&attributes(attributes)
		.container
			+b.section-title.text-center
				h4 О компании
				h2 Работаем с&nbsp;2012&nbsp;года. Собственное производство. Сертификаты качества.
				
			.row
		block
	// end sAbout