mixin sTypical(data)
	// start sTypical
	+b.SECTION.sTypical.section#sTypical&attributes(attributes)
		.container
			+b.section-title.text-center
				h4 Цены
				h2 Типовые арочные&nbsp;навесы из&nbsp;поликарбоната
			+e.filter.row
				.col-12.col-lg-auto
					p Выберите длину
				.col
					.row
						mixin filterBtn(c, ...items)
							+e.btn-col.col
								input.btn-check(type='checkbox' id=`option${c}`)&attributes(attributes)
								label.btn(for=`option${c}`)
									each item in items
										span!= item
						+filterBtn(1, `4м`, `4 метра`)
						+filterBtn(2, `5м`, `5 метров`)
						+filterBtn(3, `6м`, `6 метров`)
						+filterBtn(4, `7м`, `7 метров`)
						+filterBtn(5, `8м`, `8 метров`)
						+filterBtn(6, `9м`, `9 метров`)
						+filterBtn(7, `10м`, `10 метров`)
			+e.slider-wrapper
				+arrow
				+e.slider--js.swiper
					.swiper-wrapper
						mixin sTypicalItem()
							+e.slide.swiper-slide
								+e.item
									+pic(`sTypical-1.png`, 'bg', 0)
									table
										tr
											th Н-1830
											th 100&nbsp;800&nbsp;₽
										tr
											td Ш&times;Д&times;В
											td 3&times;8&times;2,5&nbsp;м
										tr
											td Тип навеса
											td Арочный
										tr
											td Кровля
											td Сот. поликарбонат
									+e.btn(href="#") Хочу такой навес
						+sTypicalItem()
						+sTypicalItem()
						+sTypicalItem()
						+sTypicalItem()
						+sTypicalItem()
						+sTypicalItem()
					.swiper-pagination
	// end sTypical