mixin sWeProduce(data)
	// start sWeProduce
	+b.SECTION.sWeProduce.section#sWeProduce&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 sWeProduce
				
			.row
	// end sWeProduce