mixin topLine()
	// start topLine
	+b.topLine.section#topLine&attributes(attributes)
		.container
			+e.main-row.row
				.col-auto
					+e.logo(href="/")
						+icon('logo-top')
						//- img(src="img/svg/logo-top.svg", alt="")
				.col
					.row
						.col
							span dropdown
						.col-auto
							+e.schedule
								span открыто
								span Пн&ndash;Вс &bull; 9:00&ndash;21:00
						.col-auto
							+e.label 
								span Работаем с&nbsp;2012 года
	// end topLine