mixin menu-toggle()
	+b.toggle-menu-mobile--js&attributes(attributes)
		span
mixin mob-mnu()
	-
		//- let path = require('path');
		//- let fs = require('fs');
		//- var requestURL = 'top-nav.json';
		//- var request = new XMLHttpRequest();
		//- request.open('GET', requestURL);
		//- request.responseType = 'json';
		//- let dataJson = JSON.parse(json);
	//- h1= dataJson['lala'] 
	+b.menu-mobile--js
		+b.toggle-menu-mobile--js
			span
		+e.inner
			+mnu()
	//  мобильное меню
mixin top-nav() 
	// start top-nav
	+b.top-nav.block-with-lazy
		.container
			.row
				.col-auto.d-lg-none
					+menu-toggle()
				.col-auto
					+b.services-dropdown.dropdown
						+e.btn.dropdown__btn
							+e.toggle-icon
								span
							//- +icon('menu')
							span Услуги
						+e.content.dropdown__content
							.row
								.col-4
									ul
										li 
											a(href="#") Услуги
										li 
											a(href="#") Услуги
										li 
											a(href="#") Услуги
										li 
											a(href="#") Услуги
										li 
											a(href="#") Услуги
										
								.col-8
									ul
										li 
											a(href="#") Услуги
										li 
											a(href="#") Услуги
										li 
											a(href="#") Услуги
										li 
											a(href="#") Услуги
										li 
											a(href="#") Услуги
										li 
											a(href="#") Услуги
										li 
											a(href="#") Услуги
										li 
											a(href="#") Услуги
				.col
					.menu-mobile.menu-mobile--js
						.menu-mobile__inner
							+mnu()
					
	// end top-nav