mixin sStages(data)
	// start sStages
	+b.SECTION.sStages.section#sStages&attributes(attributes)
		.container
			+b.section-title.text-center
				h4 Этапы работы
				h2 Как заказать и&nbsp;получить навес
				
			.row
	// end sStages